Repository woowacourse-teams/2025-feed-zupzup, pull requests merged in 2025-08, with the labels that each got.

#314 [FE] fix: 시간 2분전 고정 수정
  frontend/src/domains/components/FeedbackBoxFooter/FeedbackBoxFooter.tsx
  frontend/src/utils/formatRelativeTime.ts
Labels: 🐤frontend, ✨feature

#310 [FE] fix: 모바일 환경에서 스크롤 안했을 때 게시글 보이지 않는 거 수정
  frontend/src/domains/components/DashboardOverview/DashboardOverview.style.ts
  frontend/src/domains/components/DashboardOverview/DashboardOverview.tsx
  frontend/src/domains/components/FeedbackBoxBackGround/FeedbackBoxBackGround.tsx
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/components/UserFeedbackBox/UserFeedbackBox.tsx
  frontend/src/domains/user/userDashboard/hooks/useHighLighted.ts
Labels: 🐤frontend, 🚨 fix

#316 [FE] fix: dashboard pannel 하드코딩 제거
  frontend/src/domains/components/DashboardOverview/DashboardOverview.tsx
Labels: 🐤frontend, 🚨 fix

#231 [FE] chore: PWA 환경 세팅
  frontend/eslint.config.js
  frontend/public/192x192.png
  frontend/public/512x512.png
  frontend/public/PWA.md
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/service-worker.js
  frontend/src/index.tsx
  frontend/webpack/webpack.common.js
Labels: 🐤frontend, ⚙️chore

#323 [FE] chore: UI/UX 개선 및 기능 수정
  frontend/src/domains/components/CheerButton/CheerButton.style.ts
  frontend/src/domains/components/CheerButton/CheerButton.tsx
  frontend/src/domains/components/DashboardOverview/DashboardOverview.tsx
  frontend/src/domains/components/DashboardPanel/DashboardPanel.style.ts
  frontend/src/domains/components/DashboardPanel/DashboardPanel.tsx
  frontend/src/domains/components/LikeButton/LikeButton.style.ts
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/domains/user/OnBoarding/OnBoarding.styles.ts
  frontend/src/domains/user/OnBoarding/OnBoarding.tsx
Labels: 🐤frontend, ✨feature

#297 [FE] style: 모달 스타일 수정
  frontend/src/components/AlertModal/AlertModal.stories.tsx
  frontend/src/components/AlertModal/AlertModal.tsx
  frontend/src/components/BasicButton/BasicButton.styles.ts
  frontend/src/components/BasicButton/BasicButton.tsx
  frontend/src/components/ConfirmModal/ConfirmModal.stories.tsx
  frontend/src/components/ConfirmModal/ConfirmModal.tsx
  frontend/src/components/Modal/Modal.styles.ts
  frontend/src/theme.ts
Labels: 🐤frontend, 🎨style

#324 [FE] chore: UI/UX 개선 및 기능 수정 - 분주
  frontend/src/domains/admin/adminDashboard/AdminDashboard.tsx
  frontend/src/domains/components/StatusBox/StatusBox.stories.tsx
  frontend/src/domains/components/StatusBox/StatusBox.styles.ts
  frontend/src/domains/components/StatusBox/StatusBox.tsx
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/domains/user/OnBoarding/OnBoarding.tsx
  frontend/src/domains/user/home/constants/FeedbackForm.ts
  frontend/src/domains/user/home/hooks/useUsername.ts
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/components/FeedbackStatusMessage/FeedbackStatusMessage.tsx
Labels: 🐤frontend, ⚙️chore

#320 [FE] feat: 시간차 모달 구현
  frontend/src/components/BasicButton/BasicButton.tsx
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/TimeDelayModal/TimeDelayModal.stories.tsx
  frontend/src/components/TimeDelayModal/TimeDelayModal.styles.ts
  frontend/src/components/TimeDelayModal/TimeDelayModal.tsx
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/domains/user/FeedbackPage/hooks/useFeedbackSubmit.ts
  frontend/src/hooks/useModal.test.ts
  frontend/src/hooks/useModal.ts
  frontend/src/hooks/useTimeDelayModal.test.ts
  frontend/src/hooks/useTimeDelayModal.ts
  frontend/src/types/status.types.ts
Labels: 🐤frontend, ✨feature

#330 [FE] feat: 패널 클릭 효과
  frontend/src/components/icons/RightArrowIcon.tsx
  frontend/src/domains/admin/adminDashboard/AdminDashboard.tsx
  frontend/src/domains/components/DashboardOverview/DashboardOverview.tsx
  frontend/src/domains/components/DashboardOverview/DashboardOverview.utils.ts
  frontend/src/domains/components/DashboardPanel/DashboardPanel.style.ts
  frontend/src/domains/components/DashboardPanel/DashboardPanel.tsx
  frontend/src/domains/hooks/useUserOrganizationsStatistics.ts
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/hooks/useFeedbackFilter.ts
  frontend/src/types/feedback.types.ts
Labels: 🐤frontend, ✨feature

#336 [FE] feat: 컴포넌트 스토리북 작성
  frontend/src/components/BasicInput/BasicInput.stories.tsx
  frontend/src/components/BasicInput/BasicInput.tsx
  frontend/src/components/BasicTextArea/BasicTextArea.stories.tsx
  frontend/src/components/Tag/Tag.stories.tsx
  frontend/src/domains/components/CheerButton/CheerButton.stories.tsx
  frontend/src/domains/components/CheerButton/CheerButton.tsx
  frontend/src/domains/components/DashboardOverview/DashboardOverview.tsx
  frontend/src/domains/components/DashboardPanel/DashboardPanel.stories.tsx
  frontend/src/domains/components/DashboardPanel/DashboardPanel.tsx
  frontend/src/domains/components/FloatingButton/FloatingButton.stories.tsx
  frontend/src/domains/hooks/useCheerButton.ts
  frontend/src/domains/user/FeedbackPage/components/SecretPostOption/SecretPostOption.style.ts
  frontend/src/domains/user/FeedbackPage/components/SecretPostOption/SecretPostOption.tsx
Labels: 🐤frontend, 🧪test

#343 [FE] feat: 내가 쓴 글 하이라이팅 및 비밀글 보이게 하기
  frontend/src/domains/components/FeedbackBoxBackGround/FeedbackBoxBackGround.tsx
  frontend/src/domains/components/FeedbackBoxList/FeedbackBoxList.stories.tsx
  frontend/src/domains/user/FeedbackPage/hooks/useFeedbackSubmit.ts
  frontend/src/domains/user/userDashboard/UserDashboard.style.ts
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/UserHome-delete.styles.ts
  frontend/src/domains/user/userDashboard/UserHome-delete.tsx
  frontend/src/domains/user/userDashboard/components/UserFeedbackBox/UserFeedbackBox.styles.ts
  frontend/src/domains/user/userDashboard/components/UserFeedbackBox/UserFeedbackBox.tsx
  frontend/src/domains/user/userDashboard/hooks/useMyFeedbacks.ts
Labels: 🐤frontend, ✨feature

#319 [BE] refactor: 피드백에 카테고리를 추가
  backend/script/run.sh
  backend/src/main/java/feedzupzup/backend/category/domain/Category.java
  backend/src/main/java/feedzupzup/backend/category/domain/OrganizationCategory.java
  backend/src/main/java/feedzupzup/backend/category/domain/OrganizationCategoryRepository.java
  backend/src/main/java/feedzupzup/backend/feedback/application/UserFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedback.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/CreateFeedbackRequest.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/AdminFeedbackListResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/CreateFeedbackResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/UserFeedbackListResponse.java
  backend/src/main/java/feedzupzup/backend/organization/domain/CheeringCount.java
  backend/src/main/java/feedzupzup/backend/organization/domain/Organization.java
  backend/src/main/java/feedzupzup/backend/organization/dto/response/UserOrganizationResponse.java
  backend/src/main/resources/db/migration/V6__modify_constraint_not_null.sql
  backend/src/main/resources/db/migration/V7__create_table_category_and_available_category.sql
  backend/src/main/resources/db/migration/V8__add_column_organization_category_id_to_feedback.sql
  backend/src/test/java/feedzupzup/backend/category/fixture/CategoryFixture.java
  backend/src/test/java/feedzupzup/backend/feedback/application/AdminFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeCounterTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackStatisticServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/UserFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/AdminFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/FeedbackLikeControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/UserFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/domain/FeedbacksTest.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackFixture.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackRequestFixture.java
Labels: 🐧backend, 🛠️refactor

#347 [FE] test: Sentry 에러 모니터링 및 알림 시스템 고도화
  frontend/src/apis/apiClient.ts
  frontend/src/index.tsx
  frontend/src/utils/errorLogger.ts
Labels: 🐤frontend, 🧪test

#359 refactor: 잘못된 스크립트 삭제
  backend/src/main/resources/db/migration/V6__add_column_category_feedback.sql
Labels: 🐧backend, 🛠️refactor

#351 [FE] chore: 폰트 프리로딩
  frontend/public/index.html
  frontend/src/index.css
Labels: 🐤frontend, ⚙️chore

#374 [BE] refactor: 매트릭 수집 로그 exclude uri 추가
  backend/src/main/java/feedzupzup/backend/global/log/HttpLoggingFilter.java
Labels: 🐧backend, 🛠️refactor

#369 [BE] feat: 관리자 답글 추가 기능 구현
  backend/src/main/java/feedzupzup/backend/feedback/api/AdminFeedbackApi.java
  backend/src/main/java/feedzupzup/backend/feedback/application/AdminFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/AdminFeedbackController.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/Comment.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedback.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/UpdateFeedbackCommentRequest.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/UpdateFeedbackCommentResponse.java
  backend/src/main/resources/db/migration/V9__add_column_comment_to_feedback.sql
  backend/src/test/java/feedzupzup/backend/feedback/application/AdminFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/AdminFeedbackControllerE2ETest.java
Labels: 🐧backend, ✨feature

#378 [BE] feat: 피드백 조회 시 정렬 기능 추가
  backend/src/main/java/feedzupzup/backend/feedback/api/AdminFeedbackApi.java
  backend/src/main/java/feedzupzup/backend/feedback/api/UserFeedbackApi.java
  backend/src/main/java/feedzupzup/backend/feedback/application/AdminFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/application/FeedbackOrderBy.java
  backend/src/main/java/feedzupzup/backend/feedback/application/UserFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/AdminFeedbackController.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/UserFeedbackController.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedback.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/FeedbackRepository.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/PostedAt.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/AdminFeedbackListResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/CreateFeedbackResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/UserFeedbackListResponse.java
  backend/src/test/java/feedzupzup/backend/feedback/application/AdminFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackStatisticServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/UserFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/AdminFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/UserFeedbackControllerE2ETest.java
Labels: 🐧backend, ✨feature

#377 [FE] feat: 태그를 활용한 필터링 UI 구현
  frontend/src/domains/admin/adminDashboard/AdminDashboard.tsx
  frontend/src/domains/components/DashboardOverview/DashboardOverview.tsx
  frontend/src/domains/components/DashboardOverview/DashboardOverview.utils.ts
  frontend/src/domains/components/DashboardPanel/DashboardPanel.stories.tsx
  frontend/src/domains/components/DashboardPanel/DashboardPanel.style.ts
  frontend/src/domains/components/DashboardPanel/DashboardPanel.tsx
  frontend/src/domains/components/Dropdown/Dropdown.stories.tsx
  frontend/src/domains/components/Dropdown/Dropdown.styles.ts
  frontend/src/domains/components/Dropdown/Dropdown.tsx
  frontend/src/domains/components/FilterSection/FilterSection.stories.tsx
  frontend/src/domains/components/FilterSection/FilterSection.styles.ts
  frontend/src/domains/components/FilterSection/FilterSection.tsx
  frontend/src/domains/hooks/useFeedbackFilterSort.ts
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/hooks/useFeedbackFilter.ts
  frontend/src/types/feedback.types.ts
Labels: 🐤frontend, ✨feature

#385 [FE] fix: 피드백 작성시 카테고리도 추가하여 보내기
  frontend/src/analytics/types.ts
  frontend/src/apis/userFeedback.api.ts
  frontend/src/domains/Home.tsx
  frontend/src/domains/hooks/useCategoryManager.ts
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/domains/user/FeedbackPage/hooks/useFeedbackSubmit.ts
  frontend/src/domains/user/OnBoarding/OnBoarding.tsx
Labels: 🐤frontend, 🚨 fix

#365 [FE] feat: 관리자 답변 작성 msw 연결
  frontend/src/apis/adminFeedback.api.ts
  frontend/src/domains/admin/adminDashboard/AdminDashboard.tsx
  frontend/src/domains/admin/adminDashboard/components/AdminFeedbackBox/AdminFeedbackBox.tsx
  frontend/src/domains/admin/adminDashboard/hooks/useFeedbackManagement.ts
  frontend/src/domains/components/AnswerModal/AnswerModal.tsx
  frontend/src/domains/components/FeedbackBoxList/FeedbackBoxList.stories.tsx
  frontend/src/domains/hooks/useAdminModal.test.ts
  frontend/src/domains/hooks/useAdminModal.ts
  frontend/src/domains/mocks/dashPanels.mock.ts
  frontend/src/domains/mocks/feedback.mock.ts
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/components/UserFeedbackBox/UserFeedbackBox.tsx
  frontend/src/index.tsx
  frontend/src/mocks/data/feedbackData.ts
  frontend/src/mocks/handler.ts
  frontend/src/mocks/handlers/admin/feedback.ts
  frontend/src/mocks/handlers/organization/organizations.ts
  frontend/src/mocks/handlers/user/feedback.ts
  frontend/src/types/feedback.types.ts
Labels: 🐤frontend, ✨feature

#392 [FE] feat: 카테고리 피드백 박스에 보여주기
  frontend/src/domains/admin/adminDashboard/AdminDashboard.tsx
  frontend/src/domains/admin/adminDashboard/components/AdminFeedbackBox/AdminFeedbackBox.tsx
  frontend/src/domains/components/FeedbackBoxHeader/FeedbackBoxHeader.style.ts
  frontend/src/domains/components/FeedbackBoxHeader/FeedbackBoxHeader.tsx
  frontend/src/domains/components/FeedbackBoxList/FeedbackBoxList.stories.tsx
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/components/UserFeedbackBox/UserFeedbackBox.tsx
  frontend/src/mocks/data/feedbackData.ts
  frontend/src/types/feedback.types.ts
Labels: 🐤frontend, ✨feature

#397 [BE] refactor: 피드백 통계 로직 리팩토링
  backend/src/main/java/feedzupzup/backend/feedback/api/UserFeedbackApi.java
  backend/src/main/java/feedzupzup/backend/feedback/application/FeedbackStatisticService.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/UserFeedbackController.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/FeedbackAmount.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/FeedbackRepository.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedbacks.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/StatisticTargetPeriod.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/StatisticResponse.java
  backend/src/main/java/feedzupzup/backend/global/log/HttpLoggingFilter.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackStatisticServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/domain/FeedbackAmountTest.java
  backend/src/test/java/feedzupzup/backend/feedback/domain/FeedbacksTest.java
Labels: 🐧backend, 🛠️refactor

#405 [FE] fix: 나의 글 중복 호출 문제 해결
  frontend/src/domains/hooks/useFeedbackFilterSort.ts
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/components/UserFeedbackBox/UserFeedbackBox.tsx
Labels: 🐤frontend, 🚨 fix

#413 [FE] feat: 바텀네비게이션, 헤더 구현
  .DS_Store
  frontend/src/App.style.ts
  frontend/src/App.tsx
  frontend/src/components/BottomNavigation/BottomNavigation.style.ts
  frontend/src/components/BottomNavigation/BottomNavigation.tsx
  frontend/src/components/Header/Header.style.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/icons/ArrowLeftIcon.tsx
  frontend/src/components/icons/BellOutlineIcon.tsx
  frontend/src/components/icons/HomeIcon.tsx
  frontend/src/components/icons/MoreVerticalIcon.tsx
  frontend/src/components/icons/OutOutlineIcon.tsx
  frontend/src/components/icons/SettingIcon.tsx
  frontend/src/constants/index.ts
  frontend/src/constants/layoutConfig.ts
  frontend/src/constants/navigationItems.ts
  frontend/src/constants/routes.ts
  frontend/src/domains/admin/AdminHome/AdminHome.tsx
  frontend/src/domains/admin/Settings/Settings.tsx
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/hooks/useKeyboardDetection.ts
  frontend/src/hooks/useLayoutConfig.ts
  frontend/src/index.css
  frontend/src/router.tsx
  frontend/src/theme.ts
Labels: 🐤frontend, ✨feature

#419 [BE] refactor: 간접참조 -> 직접참조로 전면 리팩토링
  backend/src/main/java/feedzupzup/backend/feedback/application/UserFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedback.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/FeedbackRepository.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/CreateFeedbackRequest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/AdminFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeCounterTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackStatisticServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/UserFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/AdminFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/FeedbackLikeControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/UserFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackFixture.java
Labels: 🐧backend, 🛠️refactor

#426 [BE] refactor: category 리스트 변경
  backend/src/main/java/feedzupzup/backend/category/domain/Category.java
  backend/src/main/resources/db/migration/V10__modify_column_comment_to_feedback.sql
  backend/src/main/resources/db/migration/V11__add_foreign_key_to_feedback.sql
  backend/src/main/resources/db/migration/V11_modify_column_content_to_feedback.sql
  backend/src/main/resources/db/migration/V12__modify_category.sql
  backend/src/test/java/feedzupzup/backend/feedback/application/AdminFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeCounterTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackStatisticServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/UserFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/AdminFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/FeedbackLikeControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/UserFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackRequestFixture.java
Labels: 🐧backend, 🛠️refactor

#434 [BE] refactor: flyway V12 불필요한 insert문 삭제
  backend/src/main/resources/db/migration/V12__modify_category.sql
Labels: 🐧backend, 🛠️refactor

#424 [FE] feat: QR 페이지 구현
  frontend/src/components/BasicButton/BasicButton.styles.ts
  frontend/src/components/BasicButton/BasicButton.tsx
  frontend/src/components/icons/CopyIcon.tsx
  frontend/src/components/icons/DownloadIcon.tsx
  frontend/src/domains/admin/components/QRModal/QRModal.stories.tsx
  frontend/src/domains/admin/components/QRModal/QRModal.styles.ts
  frontend/src/domains/admin/components/QRModal/QRModal.tsx
  frontend/src/domains/admin/components/QRModal/components/QRImageSection/QRImageSection.styles.ts
  frontend/src/domains/admin/components/QRModal/components/QRImageSection/QRImageSection.tsx
  frontend/src/domains/admin/components/QRModal/components/QRUrlSection/QRUrlSection.tsx
  frontend/src/domains/admin/components/QRModal/components/QRUrlSection/QRUrlsection.styles.ts
Labels: 🐤frontend, ✨feature

#447 [BE] refactor: cors 추가
  backend/src/main/java/feedzupzup/backend/global/config/CorsConfig.java
Labels: 🐧backend, 🛠️refactor

#453 refactor: flyway V14 created_date 컬럼명 및 타입 변경
  backend/src/main/resources/db/migration/V14__create_admin_and_organizer_tables.sql
Labels: 🐧backend, 🛠️refactor

#455 [BE] refactor: EncodedPassword 객체 생성
  backend/src/main/java/feedzupzup/backend/admin/domain/Admin.java
  backend/src/main/java/feedzupzup/backend/admin/domain/AdminRepository.java
  backend/src/main/java/feedzupzup/backend/admin/domain/vo/AdminName.java
  backend/src/main/java/feedzupzup/backend/admin/domain/vo/EncodedPassword.java
  backend/src/main/java/feedzupzup/backend/admin/domain/vo/LoginId.java
  backend/src/main/java/feedzupzup/backend/admin/domain/vo/Password.java
  backend/src/main/java/feedzupzup/backend/auth/application/AuthService.java
  backend/src/main/java/feedzupzup/backend/auth/application/PasswordEncoder.java
  backend/src/main/java/feedzupzup/backend/auth/dto/request/SignUpRequest.java
  backend/src/main/java/feedzupzup/backend/auth/dto/response/LoginResponse.java
  backend/src/main/java/feedzupzup/backend/auth/dto/response/SignUpResponse.java
  backend/src/main/java/feedzupzup/backend/auth/infrastructure/BCryptPasswordEncoderAdapter.java
  backend/src/test/java/feedzupzup/backend/admin/domain/vo/PasswordTest.java
  backend/src/test/java/feedzupzup/backend/auth/application/AuthServiceTest.java
  backend/src/test/java/feedzupzup/backend/auth/controller/AuthControllerE2ETest.java
Labels: 🐧backend, ✨feature

#448 [FE] feat: 로그인/회원가입 UI 구현
  frontend/src/components/@commons/Input/Input.tsx
  frontend/src/constants/routes.ts
  frontend/src/domains/admin/Login/Login.style.ts
  frontend/src/domains/admin/Login/Logins.tsx
  frontend/src/domains/admin/Login/constants/loginFields.ts
  frontend/src/domains/admin/SignUp/SignUp.style.ts
  frontend/src/domains/admin/SignUp/SignUp.tsx
  frontend/src/domains/admin/SignUp/constants/signUpFields.ts
  frontend/src/domains/admin/SignUp/hooks/useConfirmPassword.ts
  frontend/src/domains/admin/components/AuthLayout/AuthLayout.style.ts
  frontend/src/domains/admin/components/AuthLayout/AuthLayout.tsx
  frontend/src/domains/admin/components/FormField/FormField.stories.tsx
  frontend/src/domains/admin/components/FormField/FormField.style.ts
  frontend/src/domains/admin/components/FormField/FormField.tsx
  frontend/src/domains/admin/hooks/useAuthForm.ts
  frontend/src/domains/admin/utils/authValidations.ts
  frontend/src/router.tsx
  frontend/src/types/validateState.types.ts
  frontend/src/utils/index.txt
  frontend/src/utils/validation.ts
Labels: 🐤frontend, ✨feature

#463 [BE] feat: 조직 생성, 조회 API 구현
  .github/workflows/be-test.yml
  backend/src/main/java/feedzupzup/backend/feedback/domain/vo/PostedAt.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/CreateFeedbackRequest.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/AdminFeedbackListResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/FeedbackItem.java
  backend/src/main/java/feedzupzup/backend/global/response/ErrorCode.java
  backend/src/main/java/feedzupzup/backend/organization/api/AdminOrganizationApi.java
  backend/src/main/java/feedzupzup/backend/organization/application/AdminOrganizationService.java
  backend/src/main/java/feedzupzup/backend/organization/controller/AdminOrganizationController.java
  backend/src/main/java/feedzupzup/backend/organization/controller/UserOrganizationController.java
  backend/src/main/java/feedzupzup/backend/organization/domain/AdminOrganizationInfo.java
  backend/src/main/java/feedzupzup/backend/organization/domain/Organization.java
  backend/src/main/java/feedzupzup/backend/organization/domain/OrganizationCategories.java
  backend/src/main/java/feedzupzup/backend/organization/domain/OrganizationRepository.java
  backend/src/main/java/feedzupzup/backend/organization/domain/vo/Name.java
  backend/src/main/java/feedzupzup/backend/organization/dto/request/CreateOrganizationRequest.java
  backend/src/main/java/feedzupzup/backend/organization/dto/response/AdminCreateOrganizationResponse.java
  backend/src/main/java/feedzupzup/backend/organization/dto/response/AdminInquireOrganizationResponse.java
  backend/src/main/java/feedzupzup/backend/organizer/domain/Organizer.java
  backend/src/main/java/feedzupzup/backend/organizer/domain/OrganizerRepository.java
  backend/src/main/java/feedzupzup/backend/organizer/domain/OrganizerRole.java
  backend/src/main/java/feedzupzup/backend/util/CurrentDateTime.java
  backend/src/test/java/feedzupzup/backend/admin/domain/fixture/AdminFixture.java
  backend/src/test/java/feedzupzup/backend/auth/controller/AuthControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackFixture.java
  backend/src/test/java/feedzupzup/backend/organization/application/AdminOrganizationServiceTest.java
  backend/src/test/java/feedzupzup/backend/organization/controller/AdminOrganizationControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/organization/domain/OrganizationRepositoryTest.java
  backend/src/test/java/feedzupzup/backend/organization/fixture/OrganizationFixture.java
Labels: 🐧backend, ✨feature

#461 [FE] feat: PWA 관리자 알림 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/service-worker.js
  frontend/src/apis/apiClient.ts
  frontend/src/apis/notifications.api.ts
  frontend/src/domains/admin/Settings/Settings.tsx
  frontend/src/domains/admin/Settings/hooks/useNotificationSetting.ts
  frontend/src/domains/admin/Settings/hooks/useNotifications.ts
  frontend/src/firebase/config.ts
  frontend/src/firebase/messaging.ts
  frontend/src/index.tsx
  frontend/src/mocks/handler.ts
  frontend/src/mocks/handlers/admin/notifications.ts
  frontend/src/services/notificationService.ts
  frontend/src/types/notification.types.ts
  frontend/src/utils/notificationUtils.ts
Labels: 🐤frontend, ✨feature

#467 [FE] feat: 내가 쓴 글 조회 api 연결
  frontend/src/apis/userFeedback.api.ts
  frontend/src/domains/admin/adminDashboard/AdminDashboard.tsx
  frontend/src/domains/hooks/useFeedbackFilterSort.ts
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/hooks/useMyFeedbackData.ts
Labels: 🐤frontend, ✨feature

#474 [FE] setting : 개발서버, 프로덕션 서버 CD 세팅
  frontend/src/domains/admin/Settings/Settings.tsx
Labels: 🐧backend, 🔎setting

#469 [FE] feat: 관리자 메인화면 UI
  frontend/src/components/icons/ArrowRightIcon.tsx
  frontend/src/components/icons/PlusIcon.tsx
  frontend/src/domains/admin/AdminHome/AdminHome.style.ts
  frontend/src/domains/admin/AdminHome/AdminHome.tsx
  frontend/src/domains/admin/AdminHome/components/AdminHomeHeader/AdminHomeHeader.stories.tsx
  frontend/src/domains/admin/AdminHome/components/AdminHomeHeader/AdminHomeHeader.style.ts
  frontend/src/domains/admin/AdminHome/components/AdminHomeHeader/AdminHomeHeader.tsx
  frontend/src/domains/admin/AdminHome/components/FeedbackRoom/FeedbackRoom.stories.tsx
  frontend/src/domains/admin/AdminHome/components/FeedbackRoom/FeedbackRoom.style.ts
  frontend/src/domains/admin/AdminHome/components/FeedbackRoom/FeedbackRoom.tsx
  frontend/src/domains/admin/AdminHome/components/FeedbackRoomList/FeedbackRoomList.style.ts
  frontend/src/domains/admin/AdminHome/components/FeedbackRoomList/FeedbackRoomList.tsx
  frontend/src/domains/admin/AdminHome/components/StatusBar/StatusBar.stories.tsx
  frontend/src/domains/admin/AdminHome/components/StatusBar/StatusBar.style.ts
  frontend/src/domains/admin/AdminHome/components/StatusBar/StatusBar.tsx
  frontend/src/domains/admin/AdminHome/mocks/feedbackRooms.ts
Labels: 🐤frontend, ✨feature

#485 [BE] refactor: Notification DDL 작성
  backend/src/main/resources/db/migration/V16__create_notification_token_table.sql
Labels: 🐧backend, 🛠️refactor

#483 [FE] feat: router 설정
  frontend/public/index.html
  frontend/src/components/Modal/Modal.tsx
  frontend/src/constants/routes.ts
  frontend/src/domains/admin/AdminHome/components/FeedbackRoomList/FeedbackRoomList.tsx
  frontend/src/domains/admin/AdminHome/mocks/feedbackRooms.ts
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/domains/user/OnBoarding/OnBoarding.tsx
  frontend/src/router.tsx
  frontend/src/utils/protectedRoute.tsx
Labels: 🐤frontend, ✨feature

#494 [BE] organization DDL 추가
  backend/src/main/resources/db/migration/V18__add_uuid_column_to_organization.sql
Labels: 🐧backend, ⚙️chore

#500 [BE] fix: organization DDL auto increment 추가
  backend/src/main/resources/db/migration/V20__add_auto_increment_to_organization_id.sql
Labels: 🐧backend, 🚨 fix

#501 [BE] fix: organization DDL auto increment 추가 버전 수정
  backend/src/main/resources/db/migration/V19__add_auto_increment_to_organization_id.sql
Labels: 🐧backend, 🚨 fix

#503 [BE] chore: qr 환경별 baseurl 변수 변경
  backend/src/test/java/feedzupzup/backend/qr/domain/SiteUrlTest.java
Labels: 🐧backend, ⚙️chore

#507 [FE] fix: 관리자 헤더, 바텀네비게이션 안보이는 문제 해결
  frontend/src/components/Header/Header.tsx
  frontend/src/constants/layoutConfig.ts
  frontend/src/constants/navigationItems.ts
  frontend/src/constants/routes.ts
  frontend/src/hooks/useLayoutConfig.ts
  frontend/src/router.tsx
Labels: 🐤frontend, 🚨 fix

#490 [FE] feat: 로그인/회원가입 API 연결
  frontend/src/apis/admin.api.ts
  frontend/src/apis/notifications.api.ts
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/TimeDelayModal/TimeDelayModal.tsx
  frontend/src/constants/routes.ts
  frontend/src/domains/admin/AdminHome/AdminHome.style.ts
  frontend/src/domains/admin/AdminHome/AdminHome.tsx
  frontend/src/domains/admin/AdminHome/components/FeedbackRoomList/FeedbackRoomList.style.ts
  frontend/src/domains/admin/Login/Login.tsx
  frontend/src/domains/admin/Login/hooks/useLogin.ts
  frontend/src/domains/admin/Settings/Settings.tsx
  frontend/src/domains/admin/Settings/hooks/useAdminAuth.ts
  frontend/src/domains/admin/Settings/hooks/useLogout.ts
  frontend/src/domains/admin/SignUp/SignUp.tsx
  frontend/src/domains/admin/SignUp/hooks/useSignup.ts
  frontend/src/domains/components/Toast/Toast.stories.tsx
  frontend/src/domains/components/Toast/Toast.style.ts
  frontend/src/domains/components/Toast/Toast.tsx
  frontend/src/hooks/useAdminAuth.ts
  frontend/src/hooks/useCursorInfiniteScroll.ts
  frontend/src/mocks/handler.ts
  frontend/src/mocks/handlers/login/login.ts
  frontend/src/router.tsx
  frontend/src/theme.ts
  frontend/src/types/adminAuth.ts
  frontend/src/types/apiResponse.ts
  frontend/src/types/notification.types.ts
  frontend/src/utils/authenticated.tsx
  frontend/src/utils/localStorage.ts
  frontend/src/utils/protectedRoute.tsx
  package-lock.json
Labels: 🐤frontend, ✨feature

#522 [FE] refactor: 관리자 알림 기능 코멘트 반영
  frontend/src/apis/notifications.api.ts
  frontend/src/domains/admin/EditRoomModal/EditRoomModal.tsx
  frontend/src/domains/admin/Settings/Settings.tsx
  frontend/src/domains/admin/Settings/hooks/useFCMManager.ts
  frontend/src/domains/admin/Settings/hooks/useNotificationSettingMutation.ts
  frontend/src/domains/admin/Settings/hooks/useNotificationSettingsPage.ts
  frontend/src/services/notificationService.ts
Labels: 🐤frontend, 🛠️refactor

#530 [BE] refactor: 잘못된 세션으로 접근 시 세션 쿠키 삭제하는 로직 추가
  backend/src/main/java/feedzupzup/backend/auth/presentation/api/AdminAuthApi.java
  backend/src/main/java/feedzupzup/backend/auth/presentation/controller/AdminAuthController.java
  backend/src/main/java/feedzupzup/backend/auth/presentation/interceptor/AdminCheckInterceptor.java
  backend/src/main/java/feedzupzup/backend/auth/presentation/session/HttpSessionManager.java
Labels: 🐧backend, 🛠️refactor

#533 [BE] QR 이미지 다운로드 url 발급 기능 추가
  backend/src/main/java/feedzupzup/backend/global/response/ErrorCode.java
  backend/src/main/java/feedzupzup/backend/qr/api/QRApi.java
  backend/src/main/java/feedzupzup/backend/qr/controller/QRController.java
  backend/src/main/java/feedzupzup/backend/qr/dto/request/QRCodeUploadRequest.java
  backend/src/main/java/feedzupzup/backend/qr/dto/response/QRDownloadUrlResponse.java
  backend/src/main/java/feedzupzup/backend/qr/dto/response/QRResponse.java
  backend/src/main/java/feedzupzup/backend/qr/service/QRService.java
  backend/src/main/java/feedzupzup/backend/s3/controller/S3Controller.java
  backend/src/main/java/feedzupzup/backend/s3/controller/S3ExceptionHandler.java
  backend/src/main/java/feedzupzup/backend/s3/exception/S3PresignedException.java
  backend/src/main/java/feedzupzup/backend/s3/service/S3PresignedDownloadService.java
  backend/src/main/java/feedzupzup/backend/s3/service/S3PresignedUploadService.java
  backend/src/main/java/feedzupzup/backend/s3/service/S3UploadService.java
  backend/src/test/java/feedzupzup/backend/qr/controller/QRControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/qr/service/QRServiceTest.java
  backend/src/test/java/feedzupzup/backend/s3/service/S3PresignedDownloadServiceTest.java
  backend/src/test/java/feedzupzup/backend/s3/service/S3UploadServiceTest.java
Labels: 🐧backend, ✨feature

#529 [BE] chore: prod deploy 스크립트 수정
  .github/workflows/be-deploy-prod.yml
Labels: 🐧backend, ⚙️chore

#546 [BE] fix: 세션을 찾을 수 없을 시 삭제 로직 추가
  backend/src/main/java/feedzupzup/backend/auth/presentation/interceptor/AdminCheckInterceptor.java
  backend/src/main/java/feedzupzup/backend/auth/presentation/resolver/AdminSessionArgumentResolver.java
  backend/src/main/java/feedzupzup/backend/auth/presentation/session/HttpSessionManager.java
  backend/src/test/java/feedzupzup/backend/auth/presentation/interceptor/AdminCheckInterceptorTest.java
Labels: 🐧backend, 🚨 fix

#550 [BE] 로그아웃시 세션 쿠키 삭제 되도록 수정
  backend/src/main/java/feedzupzup/backend/auth/presentation/session/HttpSessionManager.java
Labels: 🐧backend, 🛠️refactor

#554 [BE] 로그아웃시 세션 쿠키 삭제
  backend/src/main/java/feedzupzup/backend/auth/presentation/session/HttpSessionManager.java
Labels: 🐧backend, 🛠️refactor

#558 [BE] refactor: 관리자 API에 대해 Authorzation, Authencation 검증 추가
  backend/src/main/java/feedzupzup/backend/admin/domain/AdminRepository.java
  backend/src/main/java/feedzupzup/backend/auth/presentation/annotation/LoginOrganizer.java
  backend/src/main/java/feedzupzup/backend/auth/presentation/interceptor/AdminCheckInterceptor.java
  backend/src/main/java/feedzupzup/backend/auth/presentation/resolver/AdminOrganizationArgumentResolver.java
  backend/src/main/java/feedzupzup/backend/feedback/api/AdminFeedbackApi.java
  backend/src/main/java/feedzupzup/backend/feedback/application/AdminFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/AdminFeedbackController.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/UpdateFeedbackSecretRequest.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/UpdateFeedbackStatusRequest.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/UpdateFeedbackSecretResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/UpdateFeedbackStatusResponse.java
  backend/src/main/java/feedzupzup/backend/global/config/WebConfig.java
  backend/src/main/java/feedzupzup/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/feedzupzup/backend/global/exception/UnAuthorizeException.java
  backend/src/main/java/feedzupzup/backend/organization/api/AdminOrganizationApi.java
  backend/src/main/java/feedzupzup/backend/organization/application/AdminOrganizationService.java
  backend/src/main/java/feedzupzup/backend/organization/controller/AdminOrganizationController.java
  backend/src/main/java/feedzupzup/backend/organization/domain/OrganizationRepository.java
  backend/src/main/java/feedzupzup/backend/organizer/domain/OrganizerRepository.java
  backend/src/main/java/feedzupzup/backend/organizer/dto/LoginOrganizerInfo.java
  backend/src/main/java/feedzupzup/backend/qr/api/QRApi.java
  backend/src/main/java/feedzupzup/backend/qr/controller/QRController.java
  backend/src/test/java/feedzupzup/backend/auth/presentation/interceptor/AdminCheckInterceptorE2ETest.java
  backend/src/test/java/feedzupzup/backend/auth/presentation/interceptor/AdminCheckInterceptorTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/AdminFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/AdminFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/organization/application/AdminOrganizationServiceTest.java
  backend/src/test/java/feedzupzup/backend/qr/controller/QRControllerE2ETest.java
Labels: 🐧backend, 🛠️refactor

#560 [FE] feat: 방 생성 api 연결 #559
  frontend/src/apis/adminOrganization.api.ts
  frontend/src/components/BasicButton/BasicButton.tsx
  frontend/src/domains/admin/AdminHome/AdminHome.tsx
  frontend/src/domains/admin/AdminHome/components/AdminOrganizationList/AdminOrganizationList.style.ts
  frontend/src/domains/admin/CreateRoomModal/CreateRoomModal.tsx
  frontend/src/domains/admin/CreateRoomModal/hooks/useCreateOrganization.ts
Labels: 🐤frontend, ✨feature

#565 [FE] chore: PWA로 접속시 관리자 페이지로 바로 이동하도록 수정
  frontend/src/router.tsx
Labels: 🐤frontend, ⚙️chore

#569 [BE] 개발 서버 cors 설정 수정
  backend/src/main/java/feedzupzup/backend/global/config/WebConfig.java
Labels: 🐧backend, 🛠️refactor

#578 [FE] release: v.2.0.0
  .github/workflows/release.yml
Labels: 🐤frontend, 🚨 fix

#581 [FE] release: v1.0.0 업데이트
  .github/workflows/release.yml
Labels: 🐤frontend, 🎬 release

#589 [FE] release: v1.0.0 업데이트
  .github/workflows/release.yml
Labels: 🐤frontend, 🎬 release

#591 [FE] fix: 릴리즈 조건 변경
  .github/workflows/release.yml
Labels: 🐤frontend, 🚨 fix

#595 [BE] fix: cors 헤더 수동 설정
  backend/src/main/java/feedzupzup/backend/global/config/WebConfig.java
Labels: 🐧backend, 🚨 fix

#599 [BE] fix: cors Filter를 생성
  backend/src/main/java/feedzupzup/backend/auth/presentation/filter/CorsFilter.java
  backend/src/main/java/feedzupzup/backend/global/config/WebConfig.java
Labels: 🐧backend, 🚨 fix

#573 [BE] feat: 피드백 전체 처리 현황 조회 API 구현
  backend/src/main/java/feedzupzup/backend/feedback/api/AdminFeedbackApi.java
  backend/src/main/java/feedzupzup/backend/feedback/application/AdminFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/AdminFeedbackController.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/FeedbackRepository.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/FeedbackStatisticResponse.java
  backend/src/test/java/feedzupzup/backend/feedback/application/AdminFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/AdminFeedbackControllerE2ETest.java
Labels: 🐧backend, ✨feature

#566 [FE] feat: BasicButton props: string | number; -> string으로 변경
  frontend/src/components/BasicButton/BasicButton.stories.tsx
  frontend/src/components/BasicButton/BasicButton.styles.ts
  frontend/src/components/BasicButton/BasicButton.tsx
  frontend/src/domains/admin/components/QRModal/QRModal.tsx
  frontend/src/domains/admin/components/QRModal/components/QRImageSection/QRImageSection.tsx
  frontend/src/domains/admin/components/QRModal/components/QRUrlSection/QRUrlSection.tsx
Labels: 🐤frontend, ✨feature

#616 [FE] fix: 서비스 라우터 관련 에러 수정
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
Labels: 🐤frontend, ✨feature

#615 [BE] refactor: 사용자 QR 접속 페이지 url 변경
  backend/src/main/java/feedzupzup/backend/global/log/RequestLogMessage.java
  backend/src/main/java/feedzupzup/backend/qr/domain/SiteUrl.java
  backend/src/main/java/feedzupzup/backend/qr/service/QRService.java
  backend/src/test/java/feedzupzup/backend/qr/controller/QRControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/qr/service/QRServiceTest.java
Labels: 🐧backend, 🛠️refactor

#633 [BE] fix: QR url path 수정
  backend/src/main/java/feedzupzup/backend/qr/domain/SiteUrl.java
Labels: 🐧backend, 🚨 fix

#619 [BE] refactor: 알람 설정 변경 및 로그 추가
  backend/src/main/java/feedzupzup/backend/admin/domain/Admin.java
  backend/src/main/java/feedzupzup/backend/notification/event/NotificationEventListener.java
  backend/src/main/java/feedzupzup/backend/organizer/domain/OrganizerRepository.java
  backend/src/main/resources/db/migration/V21_add_column_is_active_to_organization_category.sql
  backend/src/test/java/feedzupzup/backend/notification/AlertsFilteringTest.java
  backend/src/test/java/feedzupzup/backend/notification/AlertsSettingTest.java
Labels: 🐧backend, 🛠️refactor

#640 [FE] fix: 사용자 submit 페이지 카테고리 하드코딩 수정
  frontend/src/analytics/events/onboarding.ts
  frontend/src/analytics/types.ts
  frontend/src/apis/adminOrganization.api.ts
  frontend/src/apis/userFeedback.api.ts
  frontend/src/domains/admin/CreateRoomModal/CreateRoomModal.tsx
  frontend/src/domains/admin/CreateRoomModal/hooks/useCategorySelection.ts
  frontend/src/domains/components/FeedbackBoxHeader/FeedbackBoxHeader.tsx
  frontend/src/domains/hooks/useCategoryManager.ts
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/domains/user/FeedbackPage/hooks/useFeedbackSubmit.ts
  frontend/src/domains/user/OnBoarding/OnBoarding.tsx
  frontend/src/domains/user/userDashboard/components/UserFeedbackBox/UserFeedbackBox.tsx
  frontend/src/domains/utils/createCategoryList.ts
  frontend/src/types/feedback.types.ts
Labels: 🐤frontend, ✨feature

#642 [FE] fix: 킼킼킼 등 정상적이지 않은 텍스트에 대해서 BMHANNAPro로 인식이 안되는오류
  frontend/src/domains/components/DashboardOverview/DashboardOverview.style.ts
Labels: 🐤frontend, ✨feature

#643 chore: 로깅을 위한 콘솔 메세지 추가
  frontend/src/domains/admin/Settings/hooks/useFCMManager.ts
  frontend/src/services/notificationService.ts
  frontend/src/utils/notificationUtils.ts
Labels: 🐤frontend, 🚨 fix

#645 [BE] chore: 알람 로직에 로그 추가
  backend/src/main/java/feedzupzup/backend/notification/infrastructure/FcmPushNotifier.java
Labels: 🐧backend, 🛠️refactor

#641 [FE] feat : admin 대시보드 결과 api 연결
  .github/workflows/release.yml
  frontend/src/apis/adminFeedback.api.ts
  frontend/src/constants/queryKeys.ts
  frontend/src/domains/admin/AdminHome/AdminHome.tsx
  frontend/src/domains/admin/AdminHome/components/AdminHomeHeader/AdminHomeHeader.stories.tsx
  frontend/src/domains/admin/AdminHome/components/AdminHomeHeader/AdminHomeHeader.tsx
  frontend/src/domains/admin/AdminHome/hooks/useAdminStatistics.ts
Labels: 🐤frontend, ✨feature

#647 [BE] refactor: origanizer에서 adminId가져오는걸로 수정
  backend/src/main/java/feedzupzup/backend/notification/event/NotificationEventListener.java
Labels: 🐧backend, 🛠️refactor

#654 [FE] fix: 권한 없는 uuid로 접근했을 때 접근 제한
  frontend/src/domains/admin/AdminHome/hooks/useAdminStatistics.ts
  frontend/src/hooks/useApiErrorHandler.ts
  frontend/src/hooks/useCursorInfiniteScroll.ts
Labels: 🐤frontend, ✨feature

#665 [BE] Fcm 저장 로직 수정
  backend/src/main/java/feedzupzup/backend/notification/application/NotificationService.java
Labels: 🐧backend, 🛠️refactor

#666 [FE] chore: 알람 설정시 로깅 제거 및 강제 리다이렉트 제거
  frontend/src/apis/apiClient.ts
  frontend/src/domains/admin/Settings/hooks/useFCMManager.ts
  frontend/src/domains/admin/Settings/hooks/useNotificationSettingMutation.ts
  frontend/src/services/notificationService.ts
  frontend/src/utils/notificationUtils.ts
Labels: 🐤frontend, ⚙️chore
