Repository woowacourse-teams/2025-feed-zupzup, pull requests merged in 2025-09, with the labels that each got.

#675 [BE] refactor: code rabbit base_branch 추가
  .coderabbit.yml
Labels: 🐧backend, 🛠️refactor

#673 [BE] refactor: 좋아요 버퍼 코드 수정
  backend/src/main/java/feedzupzup/backend/feedback/api/UserFeedbackApi.java
  backend/src/main/java/feedzupzup/backend/feedback/application/AdminFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/application/FeedbackLikeService.java
  backend/src/main/java/feedzupzup/backend/feedback/application/UserFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/application/scheduler/FeedbackLikeScheduler.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/FeedbackExceptionHandler.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedback.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/FeedbackLikeCounter.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/FeedbackLikeRepository.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/service/LikesFeedbackSortStrategy.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/vo/LikeCount.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/vo/PostedAt.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/vo/UserName.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/CreateFeedbackRequest.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/AdminFeedbackListResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/FeedbackItem.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/LikeResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/exception/FeedbackException.java
  backend/src/main/java/feedzupzup/backend/feedback/infrastructure/FeedbackLikeInMemoryRepository.java
  backend/src/main/java/feedzupzup/backend/global/response/ErrorCode.java
  backend/src/main/java/feedzupzup/backend/organization/domain/OrganizationRepository.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeCounterTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/UserFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/AdminFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/FeedbackLikeControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/UserFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackFixture.java
Labels: 🐧backend, 🛠️refactor

#683 fix: 로그인, 로그아웃, 회원가입시 토큰 비우는 로직 추가
  frontend/src/domains/admin/Login/hooks/useLogin.ts
  frontend/src/domains/admin/Settings/hooks/useLogout.ts
  frontend/src/domains/admin/SignUp/hooks/useSignup.ts
Labels: 🐤frontend, 🚨 fix

#682 [BE] feat: 관리자의 단체 삭제 기능 추가
  backend/src/main/java/feedzupzup/backend/category/application/OrganizationCategoryService.java
  backend/src/main/java/feedzupzup/backend/category/domain/OrganizationCategoryRepository.java
  backend/src/main/java/feedzupzup/backend/feedback/application/AdminFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/FeedbackRepository.java
  backend/src/main/java/feedzupzup/backend/organization/api/AdminOrganizationApi.java
  backend/src/main/java/feedzupzup/backend/organization/application/AdminOrganizationService.java
  backend/src/main/java/feedzupzup/backend/organization/controller/AdminOrganizationController.java
  backend/src/main/java/feedzupzup/backend/organizer/domain/OrganizerRepository.java
  backend/src/main/java/feedzupzup/backend/qr/repository/QRRepository.java
  backend/src/main/java/feedzupzup/backend/qr/service/QRService.java
  backend/src/test/java/feedzupzup/backend/organization/application/AdminOrganizationServiceTest.java
  backend/src/test/java/feedzupzup/backend/organization/controller/AdminOrganizationControllerE2ETest.java
Labels: 🐧backend, ✨feature

#714 [BE] fix: flyway 초기화 에러 수정
  backend/src/main/resources/db/migration/V23__remove_unique_constraint_notification_token_admin_id.sql
Labels: 🐧backend, 🚨 fix

#717 [BE] refactor: flyway V24 스키마 수정
  backend/src/main/resources/db/migration/V24__refactor_notification_token_to_notification.sql
Labels: 🐧backend, 🛠️refactor

#701 [BE] refactor: 좋아요 증감 중복 요청 및 응원하기 버그 수정
  backend/src/main/java/feedzupzup/backend/auth/presentation/api/UserApi.java
  backend/src/main/java/feedzupzup/backend/auth/presentation/controller/UserController.java
  backend/src/main/java/feedzupzup/backend/feedback/api/UserFeedbackApi.java
  backend/src/main/java/feedzupzup/backend/feedback/application/FeedbackLikeService.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/FeedbackExceptionHandler.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/UserFeedbackController.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/LikeFeedbacks.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/UserLikeFeedbacksRepository.java
  backend/src/main/java/feedzupzup/backend/feedback/exception/FeedbackException.java
  backend/src/main/java/feedzupzup/backend/global/response/ErrorCode.java
  backend/src/main/java/feedzupzup/backend/global/util/CookieUtilization.java
  backend/src/main/java/feedzupzup/backend/organization/domain/Organization.java
  backend/src/main/java/feedzupzup/backend/organization/domain/vo/CheeringCount.java
  backend/src/main/java/feedzupzup/backend/organization/dto/request/CheeringRequest.java
  backend/src/main/java/feedzupzup/backend/organization/dto/response/CheeringResponse.java
  backend/src/main/java/feedzupzup/backend/organization/dto/response/UserOrganizationResponse.java
  backend/src/main/resources/db/migration/V25__modify_column_cheering_count_to_organization.sql
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/FeedbackLikeControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/domain/UserLikeFeedbacksRepositoryTest.java
  backend/src/test/java/feedzupzup/backend/organization/controller/OrganizationControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/organization/domain/OrganizationTest.java
Labels: 🐧backend, 🛠️refactor

#704 [FE] refactor: 요청크기 줄이기
  frontend/public/index.html
  frontend/src/assets/fonts/subset-BMHANNAAir.woff
  frontend/src/assets/fonts/subset-BMHANNAAir.woff2
  frontend/src/assets/fonts/subset-BMHANNAPro.woff
  frontend/src/assets/fonts/subset-BMHANNAPro.woff2
  frontend/src/assets/fonts/subset-Pretendard-Bold.woff
  frontend/src/assets/fonts/subset-Pretendard-Bold.woff2
  frontend/src/assets/fonts/subset-Pretendard-Regular.woff
  frontend/src/assets/fonts/subset-Pretendard-Regular.woff2
  frontend/src/assets/fonts/subset-Pretendard-Thin.woff
  frontend/src/assets/fonts/subset-Pretendard-Thin.woff2
  frontend/src/assets/images/avatar1.png
  frontend/src/assets/images/avatar1.webp
  frontend/src/assets/images/avatar2.png
  frontend/src/assets/images/avatar2.webp
  frontend/src/assets/images/avatar3.png
  frontend/src/assets/images/avatar3.webp
  frontend/src/assets/images/avatar4.png
  frontend/src/assets/images/avatar4.webp
  frontend/src/assets/images/avatar5.png
  frontend/src/assets/images/avatar5.webp
  frontend/src/assets/images/avatar6.png
  frontend/src/assets/images/avatar6.webp
  frontend/src/assets/images/avatar7.png
  frontend/src/assets/images/avatar7.webp
  frontend/src/assets/images/avatar8.png
  frontend/src/assets/images/avatar8.webp
  frontend/src/domains/components/FeedbackBoxHeader/FeedbackBoxHeader.tsx
  frontend/src/domains/hooks/useAvatarSelector.ts
  frontend/src/domains/user/home/constants/FeedbackForm.ts
  frontend/src/domains/user/home/utils/feedbackUtils.ts
  frontend/src/index.css
  frontend/src/styles.d.ts
  frontend/src/utils/getUserImages.ts
  frontend/webpack/webpack.common.js
Labels: 🐤frontend, 🛠️refactor

#711 [FE] feat: 필요한 것만 요청하기
  frontend/package-lock.json
  frontend/package.json
  frontend/src/router.tsx
  frontend/webpack/webpack.common.js
Labels: 🐤frontend, ✨feature

#726 [BE] refactor: flyway 스크립트 수정
  backend/src/main/resources/db/migration/V24__refactor_notification_token_to_notification.sql
Labels: 🐧backend, 🛠️refactor

#728 [BE] hotfix: release 1.2.3
  .github/workflows/be-test.yml
  backend/src/main/resources/db/migration/V24__refactor_notification_token_to_notification.sql
Labels: 🐧backend, 🚨 fix

#722 [FE] refactor: 성능 향상을 위해 React-query로 변경
  frontend/src/apis/admin.api.ts
  frontend/src/apis/userFeedback.api.ts
  frontend/src/constants/queryKeys.ts
  frontend/src/domains/admin/AdminHome/AdminHome.tsx
  frontend/src/domains/admin/AdminHome/components/AdminHomeHeader/AdminHomeHeader.tsx
  frontend/src/domains/admin/AdminHome/hooks/useAdminOrganization.ts
  frontend/src/domains/admin/AdminHome/hooks/useAdminStatistics.ts
  frontend/src/domains/admin/CreateRoomModal/CreateRoomModal.tsx
  frontend/src/domains/admin/CreateRoomModal/hooks/useCreateOrganization.ts
  frontend/src/domains/admin/Login/hooks/useLogin.ts
  frontend/src/domains/admin/Settings/Settings.tsx
  frontend/src/domains/admin/Settings/hooks/useAdminAuth.ts
  frontend/src/domains/admin/Settings/hooks/useLogout.ts
  frontend/src/domains/admin/SignUp/hooks/useSignup.ts
  frontend/src/domains/admin/components/QRModal/QRModal.tsx
  frontend/src/domains/admin/components/QRModal/components/QRImageSection/hooks/useQRImageDownload.ts
  frontend/src/domains/admin/components/QRModal/hooks/useQRCode.ts
  frontend/src/domains/hooks/useLikeButtonManager.ts
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/domains/user/FeedbackPage/hooks/useFeedbackSubmit.ts
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
  frontend/src/domains/user/userDashboard/hooks/useMyFeedbackData.ts
  frontend/src/hooks/useCursorInfiniteScroll.ts
  frontend/src/types/feedback.types.ts
Labels: 🐤frontend, 🛠️refactor

#736 [BE] hotfix: release v1.2.7
  backend/src/main/resources/db/migration/V24__refactor_notification_token_to_notification.sql
Labels: 🐧backend, 🚨 fix

#738 [BE] hotfix: release v1.2.7
  backend/src/main/resources/db/migration/V23__remove_unique_constraint_notification_token_admin_id.sql
  backend/src/main/resources/db/migration/V24__refactor_notification_token_to_notification.sql
Labels: 🐧backend, 🎬 release, 🚨 fix

#753 [BE] feat: 좋아요 기록 조회 API 구현 및 쿠키 오류 해결
  backend/src/main/java/feedzupzup/backend/feedback/api/UserFeedbackApi.java
  backend/src/main/java/feedzupzup/backend/feedback/application/FeedbackLikeService.java
  backend/src/main/java/feedzupzup/backend/feedback/controller/UserFeedbackController.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/UserLikeFeedbacksRepository.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/LikeHistoryResponse.java
  backend/src/main/java/feedzupzup/backend/global/util/CookieUtilization.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/UserFeedbackControllerE2ETest.java
Labels: 🐧backend, ✨feature

#756 [BE] fix: Organization 삭제 안되는 오류 수정
  backend/src/main/java/feedzupzup/backend/organization/application/AdminOrganizationService.java
  backend/src/main/java/feedzupzup/backend/organization/domain/OrganizationCategories.java
  backend/src/main/resources/db/migration/V26__modify_organization_category_id_nullable.sql
  backend/src/main/resources/db/migration/V27__modify_organization_id_nullable_in_organization_category.sql
  backend/src/test/java/feedzupzup/backend/organization/application/AdminOrganizationServiceTest.java
  backend/src/test/java/feedzupzup/backend/organization/controller/AdminOrganizationControllerE2ETest.java
Labels: 🐧backend, 🛠️refactor, 🚨 fix

#771 [FE] fix: 방 삭제시 바로 반영안되는 문제 해결
  frontend/src/domains/admin/EditRoomModal/hooks/useDeleteOrganization.ts
Labels: 🐤frontend, 🚨 fix

#772 [FE] refactor: 관리자 더보기 버튼 ux개선
  frontend/src/components/Header/Header.style.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/HeaderMoreIcon/HeaderMoreIcon.styles.ts
  frontend/src/components/Header/HeaderMoreIcon/HeaderMoreIcon.tsx
  frontend/src/components/Header/MoreMenu/MoreMenu.styles.ts
  frontend/src/components/Header/MoreMenuItem/MoreMenuItem.styles.ts
  frontend/src/components/Header/MoreMenuItem/MoreMenuItem.tsx
  frontend/src/components/icons/ShareIcon.tsx
  frontend/src/components/icons/SmallSettingIcon.tsx
  frontend/src/components/icons/TrashCanIcon.tsx
Labels: 🐤frontend, 🛠️refactor

#778 [FE] refactor: 방 수정, 방 생성 모달 크기 증가
  frontend/src/components/Modal/Modal.styles.ts
  frontend/src/components/Tag/Tag.styles.ts
  frontend/src/components/Tag/Tag.tsx
  frontend/src/domains/admin/CreateRoomModal/CreateRoomModal.tsx
  frontend/src/domains/admin/EditRoomModal/EditRoomModal.tsx
  frontend/src/domains/admin/components/QRModal/QRModal.tsx
  frontend/src/domains/admin/components/RoomCategoryItem/RoomCategoryItem.styles.ts
  frontend/src/domains/admin/components/RoomCategoryList/RoomCategoryList.styles.ts
  frontend/src/domains/admin/components/RoomCategoryTag/RoomCategoryTag.tsx
Labels: 🐤frontend, 🛠️refactor

#781 [FE] refactor: 토스트 디자인 변경
  frontend/src/components/icons/ToastCheckIcon.tsx
  frontend/src/components/icons/ToastDangerIcon.tsx
  frontend/src/contexts/useToast.tsx
  frontend/src/domains/admin/SignUp/SignUp.tsx
  frontend/src/domains/components/Toast/Toast.style.ts
  frontend/src/domains/components/Toast/Toast.tsx
Labels: 🐤frontend, 🛠️refactor
