Repository woowacourse-teams/2025-feed-zupzup, pull requests merged in 2025-10, with the labels that each got.

#803 [BE] feat: 이미지가 포함된 피드백 작성, 조회 기능 추가
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedback.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/vo/ImageUrl.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/CreateFeedbackRequest.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/AdminFeedbackListResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/CreateFeedbackResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/FeedbackItem.java
  backend/src/main/java/feedzupzup/backend/s3/api/S3Api.java
  backend/src/main/java/feedzupzup/backend/s3/controller/S3Controller.java
  backend/src/main/java/feedzupzup/backend/s3/dto/request/PresignedUrlRequest.java
  backend/src/main/java/feedzupzup/backend/s3/service/S3PresignedUploadService.java
  backend/src/main/resources/db/migration/V28__add_column_image_url_to_feedback.sql
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackCacheTest.java
  backend/src/test/java/feedzupzup/backend/feedback/application/UserFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/UserFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackRequestFixture.java
Labels: 🐧backend, ✨feature

#817 [BE] fix: 캐시 버그 수정
  backend/src/main/java/feedzupzup/backend/feedback/domain/service/cache/FeedbackCacheRemover.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/service/cache/LikesCacheHandler.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/service/cache/OldestCacheHandler.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackCacheTest.java
Labels: 🐧backend, 🚨 fix

#806 [BE] refactor: queryParam 로깅 추가
  backend/src/main/java/feedzupzup/backend/global/log/RequestLogMessage.java
Labels: 🐧backend, 🛠️refactor
