Repository woowacourse-teams/2025-feed-zupzup, pull requests merged in 2025-07, with the labels that each got.

#3 Pull Request, Issue 템플릿 생성
  .github/ISSUE_TEMPLATE/bug.template.md
  .github/ISSUE_TEMPLATE/task-template.md
  .github/pull_request_template.md
  .gitignore
Labels: 🔎setting

#10 [BE/FE] 웹 훅 세팅
  .github/workflows/discord-notification.yml
Labels: 🐤frontend, 🐧backend, 🔎setting

#32 [BE] feat: 엔티티 세팅
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedback.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/ProcessStatus.java
  backend/src/main/java/feedzupzup/backend/global/BaseTimeEntity.java
  backend/src/main/java/feedzupzup/backend/global/JpaAuditingConfig.java
  backend/src/main/java/feedzupzup/backend/place/Place.java
Labels: 🐧backend, ✨feature

#34 [BE] feat: Api 응답 형식 세팅
  backend/src/main/java/feedzupzup/backend/global/config/JpaAuditingConfig.java
  backend/src/main/java/feedzupzup/backend/global/response/ErrorCode.java
  backend/src/main/java/feedzupzup/backend/global/response/ErrorResponse.java
  backend/src/main/java/feedzupzup/backend/global/response/SuccessResponse.java
Labels: 🐧backend, ✨feature

#74 [FE] feat: 헤더 레이아웃 제작
  frontend/src/components/ArrowLeftButton/ArrowLeftButton.tsx
  frontend/src/components/ArrowLeftButton/ArrowLeftButton.type.ts
  frontend/src/components/Header/Header.style.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/Header.type.ts
  frontend/src/components/icons/ArrowLeft.tsx
  frontend/src/components/icons/Glitter.tsx
  frontend/src/domains/user/Suggestions/Suggestions.tsx
  frontend/src/index.css
Labels: 🐤frontend, ✨feature

#83 [FE] chore: 공통 컴포넌트 type 파일 제거
  frontend/src/components/@commons/Button/Button.styles.ts
  frontend/src/components/@commons/Button/Button.tsx
  frontend/src/components/@commons/Button/Button.types.ts
  frontend/src/components/@commons/Input/Input.styles.ts
  frontend/src/components/@commons/Input/Input.tsx
  frontend/src/components/@commons/Input/Input.types.ts
  frontend/src/components/@commons/TextArea/TextArea.styles.ts
  frontend/src/components/@commons/TextArea/TextArea.tsx
  frontend/src/components/@commons/TextArea/TextArea.types.ts
  frontend/src/components/@commons/index.txt
Labels: 🐤frontend, ⚙️chore

#85 [FE] feat: 카테고리 컴포넌트 구현
  .DS_Store
  frontend/src/components/BasicButton/BasicButton.styles.ts
  frontend/src/components/BasicButton/BasicButton.tsx
  frontend/src/components/BasicButton/BasicButton.types.ts
  frontend/src/components/GhostButton/GhostButton.tsx
  frontend/src/components/GhostButton/GhostButton.types.ts
  frontend/src/components/Header/Header.style.ts
  frontend/src/components/icons/ArrowBottom.tsx
  frontend/src/domains/components/CategorySelector/CategorySelector.styles.ts
  frontend/src/domains/components/CategorySelector/CategorySelector.tsx
  frontend/src/domains/user/home/components/Button/Button.styles.ts
  frontend/src/domains/user/home/components/Button/Button.tsx
  frontend/src/domains/user/home/components/Button/Button.type.ts
  frontend/src/domains/user/home/components/Hero/Hero.styles.ts
  frontend/src/domains/user/home/components/Hero/Hero.tsx
  frontend/src/domains/user/home/components/Hero/Hero.types.ts
Labels: 🐤frontend, ✨feature

#97 [BE] chore: 이슈 자동 닫기 스크립트 작성
  .github/workflows/auto-close-issue.yml
Labels: 🐧backend, 🔎setting

#92 [FE] chore: Router 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/router.tsx
Labels: 🐤frontend, ⚙️chore

#87 [FE] feat: 피드백 컴포넌트 구현
  frontend/src/App.tsx
  frontend/src/components/IconButton/IconButton.tsx
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/components/Tag/Tag.styles.ts
  frontend/src/components/Tag/Tag.tsx
  frontend/src/components/icons/Calendar.tsx
  frontend/src/components/icons/Check.tsx
  frontend/src/components/icons/Complete.tsx
  frontend/src/components/icons/EmptyHeart.tsx
  frontend/src/components/icons/FillHeart.tsx
  frontend/src/components/icons/Image.tsx
  frontend/src/components/icons/TrashCan.tsx
  frontend/src/domains/admin/home/components/AdminFeedbackBox.styles.ts
  frontend/src/domains/admin/home/components/AdminFeedbackBox.tsx
  frontend/src/domains/components/CategoryTag/CategoryTag.styles.ts
  frontend/src/domains/components/CategoryTag/CategoryTag.tsx
  frontend/src/domains/components/FeedbackBoxBackGround/FeedbackBoxBackGround.styles.ts
  frontend/src/domains/components/FeedbackBoxBackGround/FeedbackBoxBackGround.tsx
  frontend/src/domains/components/FeedbackBoxFooter/FeedbackBoxFooter.styles.ts
  frontend/src/domains/components/FeedbackBoxFooter/FeedbackBoxFooter.tsx
  frontend/src/domains/components/FeedbackBoxList/FeedbackBoxList.styles.ts
  frontend/src/domains/components/FeedbackBoxList/FeedbackBoxList.tsx
  frontend/src/domains/components/FeedbackImage/FeedbackImage.styles.ts
  frontend/src/domains/components/FeedbackImage/FeedbackImage.tsx
  frontend/src/domains/components/FeedbackText/FeedbackText.styles.ts
  frontend/src/domains/components/FeedbackText/FeedbackText.tsx
  frontend/src/domains/components/StatusTag/StatusTag.stories.ts
  frontend/src/domains/components/StatusTag/StatusTag.styles.ts
  frontend/src/domains/components/StatusTag/StatusTag.tsx
  frontend/src/domains/components/index.ts
  frontend/src/domains/user/home/components/Hero/Hero.styles.ts
  frontend/src/domains/user/home/components/UserFeedbackBox/UserFeedbackBox.styles.ts
  frontend/src/domains/user/home/components/UserFeedbackBox/UserFeedbackBox.tsx
  frontend/src/index.css
  frontend/src/types/feedbackStatus.types.ts
Labels: 🐤frontend, ✨feature

#108 [FE] feat: 건의사항 작성 페이지 제작
  frontend/src/components/@commons/TextArea/TextArea.tsx
  frontend/src/components/ArrowLeftButton/ArrowLeftButton.tsx
  frontend/src/components/ArrowLeftButton/ArrowLeftButton.type.ts
  frontend/src/components/BasicTextArea/BasicTextArea.style.ts
  frontend/src/components/BasicTextArea/BasicTextArea.tsx
  frontend/src/components/BasicToggleButton/BasicToggleButton.style.ts
  frontend/src/components/BasicToggleButton/BasicToggleButton.tsx
  frontend/src/components/Header/Header.style.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/Header.type.ts
  frontend/src/components/icons/ArrowLeft.tsx
  frontend/src/components/icons/Glitter.tsx
  frontend/src/components/icons/lock.tsx
  frontend/src/components/icons/photo.tsx
  frontend/src/constants/index.ts
  frontend/src/constants/index.txt
  frontend/src/domains/user/Suggestions/Suggestions.style.ts
  frontend/src/domains/user/Suggestions/Suggestions.tsx
  frontend/src/domains/user/Suggestions/components/Banner/Banner.stories.ts
  frontend/src/domains/user/Suggestions/components/Banner/Banner.style.ts
  frontend/src/domains/user/Suggestions/components/Banner/Banner.tsx
  frontend/src/domains/user/Suggestions/components/SecretPostOption/SecretPostOption.style.ts
  frontend/src/domains/user/Suggestions/components/SecretPostOption/SecretPostOption.tsx
  frontend/src/domains/user/Suggestions/components/SuggestionsFormField/SuggestionsFormField.style.ts
  frontend/src/domains/user/Suggestions/components/SuggestionsFormField/SuggestionsFormField.tsx
  frontend/src/domains/user/Suggestions/components/UploadBox/UploadBox.stories.ts
  frontend/src/domains/user/Suggestions/components/UploadBox/UploadBox.style.ts
  frontend/src/domains/user/Suggestions/components/UploadBox/UploadBox.tsx
Labels: 🐤frontend

#111 [FE] feat: 홈화면 제작
  frontend/src/domains/admin/home/AdminHome.tsx
  frontend/src/domains/components/FeedbackBoxBackGround/FeedbackBoxBackGround.styles.ts
  frontend/src/domains/components/FeedbackBoxList/FeedbackBoxList.styles.ts
  frontend/src/domains/user/home/UserHome.tsx
  frontend/src/domains/user/home/home.tsx
  frontend/src/router.tsx
Labels: 🐤frontend, ✨feature

#117 [FE] fix: 린트 오류 해결
  frontend/src/domains/user/Suggestions/components/UploadBox/UploadBox.stories.ts
  frontend/src/domains/user/Suggestions/components/UploadBox/UploadBox.tsx
  frontend/src/domains/user/home/components/Hero/Hero.styles.ts
  frontend/src/stories/Button.stories.ts
  frontend/src/stories/Button.tsx
  frontend/src/stories/Configure.mdx
  frontend/src/stories/Header.stories.ts
  frontend/src/stories/Header.tsx
  frontend/src/stories/Page.stories.ts
  frontend/src/stories/Page.tsx
  frontend/src/stories/assets/accessibility.png
  frontend/src/stories/assets/accessibility.svg
  frontend/src/stories/assets/addon-library.png
  frontend/src/stories/assets/assets.png
  frontend/src/stories/assets/avif-test-image.avif
  frontend/src/stories/assets/context.png
  frontend/src/stories/assets/discord.svg
  frontend/src/stories/assets/docs.png
  frontend/src/stories/assets/figma-plugin.png
  frontend/src/stories/assets/github.svg
  frontend/src/stories/assets/share.png
  frontend/src/stories/assets/styling.png
  frontend/src/stories/assets/testing.png
  frontend/src/stories/assets/theming.png
  frontend/src/stories/assets/tutorials.svg
  frontend/src/stories/assets/youtube.svg
  frontend/src/stories/button.css
  frontend/src/stories/header.css
  frontend/src/stories/page.css
Labels: 🐛bug, 🐤frontend, 🚨 fix

#125 [FE] chore: 커스텀 fetch 제작
  frontend/src/apis/apiClient.md
  frontend/src/apis/apiClient.ts
  frontend/src/constants/errorMessage.ts
  frontend/src/utils/fetchUtils.ts
Labels: 🐤frontend, ⚙️chore

#129 [BE] chore: ci-cd 시 서브모듈 최신화 step 추가
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
Labels: 🐧backend, ⚙️chore

#140 [FE] refactor: 아이콘 컴포넌트 뒤에 icon suffix 붙이기
  frontend/src/components/BasicButton/BasicButton.stories.tsx
  frontend/src/components/GhostButton/GhostButton.stories.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/components/icons/ArrowBottomIcon.tsx
  frontend/src/components/icons/ArrowLeftIcon.tsx
  frontend/src/components/icons/CalendarIcon.tsx
  frontend/src/components/icons/CheckIcon.tsx
  frontend/src/components/icons/CompleteIcon.tsx
  frontend/src/components/icons/EmptyHeartIcon.tsx
  frontend/src/components/icons/FillHeartIcon.tsx
  frontend/src/components/icons/GlitterIcon.tsx
  frontend/src/components/icons/ImageIcon.tsx
  frontend/src/components/icons/LockIcon.tsx
  frontend/src/components/icons/PhotoIcon.tsx
  frontend/src/components/icons/PlusIcon.tsx
  frontend/src/components/icons/ProfileIcon.tsx
  frontend/src/components/icons/TrashCanIcon.tsx
  frontend/src/domains/admin/home/components/AdminFeedbackBox.tsx
  frontend/src/domains/components/CategorySelector/CategorySelector.tsx
  frontend/src/domains/components/FeedbackBoxFooter/FeedbackBoxFooter.tsx
  frontend/src/domains/components/FeedbackImage/FeedbackImage.tsx
  frontend/src/domains/components/StatusTag/StatusTag.tsx
  frontend/src/domains/user/home/components/Hero/Hero.tsx
  frontend/src/domains/user/suggestions/components/SecretPostOption/SecretPostOption.tsx
  frontend/src/domains/user/suggestions/components/UploadBox/UploadBox.tsx
Labels: 🐤frontend, 🛠️refactor

#143 [FE] fix: SVG icon 속성에서 스네이크 변경 -> 카멜 케이스로 변경
  frontend/src/components/icons/CalendarIcon.tsx
  frontend/src/components/icons/CheckIcon.tsx
  frontend/src/components/icons/CompleteIcon.tsx
  frontend/src/components/icons/EmptyHeartIcon.tsx
  frontend/src/components/icons/ImageIcon.tsx
  frontend/src/components/icons/PhotoIcon.tsx
  frontend/src/components/icons/TrashCanIcon.tsx
Labels: 🐤frontend, 🚨 fix

#147 [BE] cors 설정 추가
  backend/src/main/java/feedzupzup/backend/global/config/CorsConfig.java
Labels: 🐧backend, ⚙️chore

#158 [BE] chore: 운영 환경 CI/CD workflow 파일 수정
  .github/workflows/ci-cd-prod.yml
  .github/workflows/ci-cd.yml
  .github/workflows/test.prod.yml
Labels: 🐧backend, ⚙️chore

#165 [BE] refactor: submodule 최신화 코드 위치 수정
  .github/workflows/ci-cd-prod.yml
  .github/workflows/ci-cd.yml
Labels: 🐧backend, 🚨 fix

#166 [BE] CI/CD 파이프라인 코드 수정
  .github/workflows/ci-cd-prod.yml
  .github/workflows/ci-cd.yml
Labels: 🐧backend, 🚨 fix

#154 [FE] 피드백 api 연동
  frontend/src/App.tsx
  frontend/src/components/LikeButton/LikeButton.tsx
  frontend/src/components/icons/LockIcon.tsx
  frontend/src/domains/admin/home/AdminHome.tsx
  frontend/src/domains/admin/home/components/AdminFeedbackBox.stories.tsx
  frontend/src/domains/admin/home/components/AdminFeedbackBox.styles.ts
  frontend/src/domains/admin/home/components/AdminFeedbackBox.tsx
  frontend/src/domains/admin/home/hooks/useGetFeedback.ts
  frontend/src/domains/components/CategoryTag/CategoryTag.stories.ts
  frontend/src/domains/components/CategoryTag/CategoryTag.styles.ts
  frontend/src/domains/components/CategoryTag/CategoryTag.tsx
  frontend/src/domains/components/FeedbackBoxBackGround/FeedbackBoxBackGround.stories.tsx
  frontend/src/domains/components/FeedbackBoxBackGround/FeedbackBoxBackGround.styles.ts
  frontend/src/domains/components/FeedbackBoxFooter/FeedbackBoxFooter.tsx
  frontend/src/domains/components/FeedbackBoxList/FeedbackBoxList.stories.tsx
  frontend/src/domains/components/FeedbackText/FeedbackText.stories.tsx
  frontend/src/domains/components/FeedbackText/FeedbackText.styles.ts
  frontend/src/domains/components/StatusTag/StatusTag.stories.ts
  frontend/src/domains/components/StatusTag/StatusTag.styles.ts
  frontend/src/domains/components/StatusTag/StatusTag.tsx
  frontend/src/domains/user/home/UserHome.tsx
  frontend/src/domains/user/home/components/UserFeedbackBox/UserFeedbackBox.stories.tsx
  frontend/src/domains/user/home/components/UserFeedbackBox/UserFeedbackBox.styles.ts
  frontend/src/domains/user/home/components/UserFeedbackBox/UserFeedbackBox.tsx
  frontend/src/hooks/useInfinityScroll.ts
  frontend/src/hooks/useIntersectionObserve.ts
  frontend/src/types/feedback.types.ts
  frontend/src/types/feedbackStatus.types.ts
  frontend/src/utils/formatDate.ts
Labels: 🐤frontend, ✨feature

#152 [FE] feat: 폼 제출 api 연결
  frontend/src/apis/userFeedback.api.ts
  frontend/src/components/@commons/Input/Input.tsx
  frontend/src/components/@commons/TextArea/TextArea.tsx
  frontend/src/components/BasicInput/BasicInput.tsx
  frontend/src/components/BasicTextArea/BasicTextArea.tsx
  frontend/src/components/BasicToggleButton/BasicToggleButton.style.ts
  frontend/src/components/BasicToggleButton/BasicToggleButton.tsx
  frontend/src/domains/user/suggestions/Suggestions.tsx
  frontend/src/domains/user/suggestions/components/SecretPostOption/SecretPostOption.style.ts
  frontend/src/domains/user/suggestions/components/SecretPostOption/SecretPostOption.tsx
  frontend/src/domains/user/suggestions/components/UploadBox/UploadBox.style.ts
  frontend/src/domains/user/suggestions/components/UploadBox/UploadBox.tsx
  frontend/src/domains/user/suggestions/hooks/useSuggestionForm.ts
Labels: 🐤frontend, ✨feature

#175 [FE] refactor: baseURL apiClient로 이동
  frontend/src/apis/apiClient.ts
  frontend/src/hooks/useInfinityScroll.ts
Labels: 🐤frontend, 🛠️refactor

#185 [BE] fix: cors 허용 메서드에 PATCH 추가
  backend/src/main/java/feedzupzup/backend/global/config/CorsConfig.java
Labels: 🐧backend, 🚨 fix

#183 [FE] feat: 확인 및 삭제 버튼 api 연결
  frontend/src/apis/adminFeedback.api.ts
  frontend/src/apis/userFeedback.api.ts
  frontend/src/components/BasicToggleButton/BasicToggleButton.tsx
  frontend/src/domains/admin/home/AdminHome.tsx
  frontend/src/domains/admin/home/components/AdminFeedbackBox.tsx
  frontend/src/domains/hooks/useAdminModal.ts
  frontend/src/domains/user/home/UserHome.tsx
  frontend/src/domains/user/home/components/UserFeedbackBox/UserFeedbackBox.tsx
  frontend/src/domains/user/suggestions/Suggestions.tsx
  frontend/src/domains/user/suggestions/components/SecretPostOption/SecretPostOption.tsx
  frontend/src/domains/user/suggestions/components/UploadBox/UploadBox.tsx
  frontend/src/domains/user/suggestions/hooks/useSuggestionForm.ts
  frontend/src/hooks/useInfinityScroll.md
  frontend/src/hooks/useInfinityScroll.ts
Labels: 🐤frontend, ✨feature

#187 [FE] fix: 피드백 리스트 2번 요청하는 에러 해결하기
  frontend/src/domains/admin/home/AdminHome.tsx
  frontend/src/domains/admin/home/hooks/useGetFeedback.ts
  frontend/src/domains/user/home/UserHome.tsx
  frontend/src/domains/user/suggestions/Suggestions.tsx
Labels: 🐤frontend, 🚨 fix

#178 [FE] feat: 디바운스 구현
  frontend/src/hooks/index.txt
  frontend/src/hooks/useDebounce.md
  frontend/src/hooks/useDebounce.ts
Labels: 🐤frontend, ✨feature

#190 [FE] fix: 관리자 페이지에서 이미지 안보이는 거 수정
  frontend/src/domains/admin/home/AdminHome.tsx
  frontend/src/domains/admin/home/components/AdminFeedbackBox.tsx
  frontend/src/domains/components/FeedbackBoxList/FeedbackBoxList.stories.tsx
  frontend/src/types/feedback.types.ts
Labels: 🐛bug, 🐤frontend

#177 [BE] feat: S3 presigned url 발급 api 구현
  backend/build.gradle
  backend/src/main/java/feedzupzup/backend/feedback/application/UserFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedback.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/ImageUrl.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/CreateFeedbackRequest.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/CreateFeedbackResponse.java
  backend/src/main/java/feedzupzup/backend/global/exception/BusinessViolationException.java
  backend/src/main/java/feedzupzup/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/feedzupzup/backend/global/response/ErrorCode.java
  backend/src/main/java/feedzupzup/backend/s3/api/S3Api.java
  backend/src/main/java/feedzupzup/backend/s3/config/S3Config.java
  backend/src/main/java/feedzupzup/backend/s3/config/S3Properties.java
  backend/src/main/java/feedzupzup/backend/s3/controller/S3Controller.java
  backend/src/main/java/feedzupzup/backend/s3/dto/request/PresignedUrlRequest.java
  backend/src/main/java/feedzupzup/backend/s3/dto/response/PresignedUrlResponse.java
  backend/src/main/java/feedzupzup/backend/s3/service/S3ObjectType.java
  backend/src/main/java/feedzupzup/backend/s3/service/S3Service.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackFixture.java
  backend/src/test/java/feedzupzup/backend/s3/service/S3ObjectTypeTest.java
Labels: 🐧backend, ✨feature

#193 [FE] chore: 관리자 페이지에서 건의 확인, 삭제시 바로 반영되게 수정
  .DS_Store
  frontend/src/domains/admin/home/AdminHome.tsx
  frontend/src/domains/admin/home/hooks/useFeedbackManagement.ts
Labels: 🐤frontend, ⚙️chore

#197 [FE] fix: 확인, 삭제 처리하면 모달 나중에 뜨는 오류 수정 및 alert창 정리
  .DS_Store
  frontend/src/apis/adminFeedback.api.ts
  frontend/src/domains/admin/home/AdminHome.tsx
  frontend/src/domains/hooks/useAdminModal.ts
Labels: 🐤frontend, 🚨 fix

#205 [BE] refactor: Admin 피드백 조회 시 좋아요 카운트 포함되도록 수정
  backend/src/main/java/feedzupzup/backend/feedback/application/AdminFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/application/FeedbackLikeService.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/AdminFeedbackListResponse.java
  backend/src/test/java/feedzupzup/backend/feedback/application/FeedbackLikeServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/AdminFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/FeedbackLikeControllerE2ETest.java
Labels: 🐧backend, 🛠️refactor

#209 [BE] refactor: 운영서버 cors 에러 해결
  backend/src/main/java/feedzupzup/backend/global/config/CorsConfig.java
Labels: 🐧backend, 🛠️refactor

#210 [BE] release: v1.0.1
  backend/src/main/java/feedzupzup/backend/global/config/CorsConfig.java
Labels: 🐧backend, 🛠️refactor

#219 [BE] chore: cors origin url 추가
  backend/src/main/java/feedzupzup/backend/global/config/CorsConfig.java
Labels: 🐧backend, ⚙️chore

#245 [FE] style: BasicButton 스타일 변경
  frontend/src/components/BasicButton/BasicButton.styles.ts
Labels: 🐤frontend, 🎨style

#253 [BE] refactor: 피드백 API 명세 수정
  backend/src/main/java/feedzupzup/backend/feedback/application/UserFeedbackService.java
  backend/src/main/java/feedzupzup/backend/feedback/domain/Feedback.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/request/CreateFeedbackRequest.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/AdminFeedbackListResponse.java
  backend/src/main/java/feedzupzup/backend/feedback/dto/response/CreateFeedbackResponse.java
  backend/src/main/resources/db/migration/V2__remove_image_url_from_feedback.sql
  backend/src/test/java/feedzupzup/backend/feedback/application/UserFeedbackServiceTest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/FeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/controller/UserFeedbackControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackFixture.java
  backend/src/test/java/feedzupzup/backend/feedback/fixture/FeedbackRequestFixture.java
Labels: 🐧backend, 🛠️refactor

#250 [FE] feat: 피드백 입력 컴포넌트 구현
  .DS_Store
  frontend/src/assets/images/avatar1.png
  frontend/src/assets/images/avatar2.png
  frontend/src/assets/images/avatar3.png
  frontend/src/assets/images/avatar4.png
  frontend/src/assets/images/avatar5.png
  frontend/src/assets/images/avatar6.png
  frontend/src/assets/images/avatar7.png
  frontend/src/assets/images/avatar8.png
  frontend/src/components/BasicButton/BasicButton.styles.ts
  frontend/src/components/BasicButton/BasicButton.tsx
  frontend/src/components/icons/LockIcon.tsx
  frontend/src/components/icons/SendIcon.tsx
  frontend/src/components/icons/UnlockIcon.tsx
  frontend/src/domains/user/home/components/FeedBackPage/FeedBackPage.tsx
  frontend/src/domains/user/home/components/FeedbackInput/FeedbackInput.styles.ts
  frontend/src/domains/user/home/components/FeedbackInput/FeedbackInput.tsx
  frontend/src/domains/user/home/constants/feedbackInput.ts
  frontend/src/domains/user/home/hooks/useFeedbackForm.ts
  frontend/src/domains/user/home/hooks/useFeedbackInput.ts
  frontend/src/domains/user/home/hooks/useLockState.ts
  frontend/src/domains/user/home/hooks/useUsernameAvatar.ts
  frontend/src/theme.ts
Labels: 🐤frontend, ✨feature

#206 [FE] test: customhook 일부 RTL 달기
  frontend/jest.config.cjs
  frontend/src/domains/admin/home/AdminHome.tsx
  frontend/src/domains/admin/home/hooks/useFeedbackManagement.test.ts
  frontend/src/domains/hooks/useAdminModal.test.ts
  frontend/src/hooks/useAdminAuth.ts
  frontend/src/hooks/useModal.test.ts
  frontend/tsconfig.json
Labels: 🐤frontend, 🧪test

#269 [FE] chore: 폴더구조 변경
  frontend/src/assets/images/hero-background.png
  frontend/src/assets/images/speaker.png
  frontend/src/assets/images/user1.png
  frontend/src/assets/images/user2.png
  frontend/src/assets/images/user3.png
  frontend/src/assets/images/user4.png
  frontend/src/assets/images/user5.png
  frontend/src/assets/images/user6.png
  frontend/src/assets/images/user7.png
  frontend/src/assets/images/user8.png
  frontend/src/domains/Home.tsx
  frontend/src/domains/hooks/useRandomAvata.ts
  frontend/src/domains/user/FeedbackPage/FeedbackPage.styles.ts
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/domains/user/FeedbackPage/components/SecretPostOption/SecretPostOption.style.ts
  frontend/src/domains/user/FeedbackPage/components/SecretPostOption/SecretPostOption.tsx
  frontend/src/domains/user/FeedbackPage/components/SuggestionsFormField/SuggestionsFormField.style.ts
  frontend/src/domains/user/FeedbackPage/components/SuggestionsFormField/SuggestionsFormField.tsx
  frontend/src/domains/user/FeedbackPage/components/UploadBox/UploadBox.style.ts
  frontend/src/domains/user/FeedbackPage/components/UploadBox/UploadBox.tsx
  frontend/src/domains/user/FeedbackPage/hooks/useSuggestionForm.ts
  frontend/src/domains/user/OnBoarding/OnBoarding.stories.tsx
  frontend/src/domains/user/OnBoarding/OnBoarding.styles.ts
  frontend/src/domains/user/OnBoarding/OnBoarding.tsx
  frontend/src/domains/user/home/components/FeedBackPage/FeedBackPage.tsx
  frontend/src/domains/user/suggestions/Suggestions.style.ts
  frontend/src/domains/user/suggestions/Suggestions.tsx
  frontend/src/domains/user/suggestions/components/Banner/Banner.style.ts
  frontend/src/domains/user/suggestions/components/Banner/Banner.tsx
  frontend/src/utils/getUserImages.ts
Labels: 🐤frontend, ⚙️chore

#278 [FE] feat: 대시보드에서 글 작성 버튼 생성
  frontend/src/components/icons/arrowIcon.tsx
  frontend/src/domains/components/FloatingButton/FloatingButton.style.ts
  frontend/src/domains/components/FloatingButton/FloatingButton.tsx
  frontend/src/domains/user/userDashboard/UserDashboard.tsx
Labels: 🐤frontend, ✨feature

#285 [FE] fix: 무한스크롤 에러시 무한 요청되는거 수정
  frontend/src/domains/user/OnBoarding/OnBoarding.tsx
  frontend/src/hooks/useInfinityScroll.ts
Labels: 🐤frontend, 🚨 fix

#293 [BE] feat: 단체 조회API 응답값 수정
  backend/src/main/java/feedzupzup/backend/organization/application/UserOrganizationService.java
  backend/src/main/java/feedzupzup/backend/organization/domain/Organization.java
  backend/src/main/java/feedzupzup/backend/organization/dto/response/CheeringResponse.java
  backend/src/main/java/feedzupzup/backend/organization/dto/response/UserOrganizationResponse.java
  backend/src/test/java/feedzupzup/backend/organization/application/UserOrganizationServiceTest.java
  backend/src/test/java/feedzupzup/backend/organization/controller/OrganizationControllerE2ETest.java
  backend/src/test/java/feedzupzup/backend/organization/domain/OrganizationTest.java
Labels: 🐧backend, ✨feature

#294 [FE] feat: 피드백 입력 페이지 API 연동
  frontend/src/apis/userFeedback.api.ts
  frontend/src/domains/user/FeedbackPage/FeedbackPage.tsx
  frontend/src/domains/user/FeedbackPage/hooks/useFeedbackSubmit.ts
  frontend/src/domains/user/FeedbackPage/hooks/useSuggestionForm.ts
Labels: 🐤frontend, ✨feature

#271 [FE] feat: feedbackID랑 아바타 연결
  frontend/src/domains/admin/adminDashboard/components/AdminFeedbackBox/AdminFeedbackBox.tsx
  frontend/src/domains/components/FeedbackBoxHeader/FeedbackBoxHeader.tsx
  frontend/src/domains/hooks/useAvatarSelector.ts
  frontend/src/domains/user/userDashboard/components/UserFeedbackBox/UserFeedbackBox.tsx
Labels: 🐤frontend, ✨feature
